<% provide(:title, "Log in") %>

 <div class="box login"> 
     <%= form_for(:session, url: login_path) do |f| %>
    <fieldset class="boxBody">
    <%= f.email_field :email, class: 'form-control' %>
    </br>
    <%= f.password_field :password, class: 'form-control' %>
      </fieldset>
    <footer>
    <center>
    <%= f.submit "Log in", class: "btn btn-primary" %> &nbsp;
    <%= link_to 'Sign up', signup_url, class: "btn btn-success"%>
    </center>
  </footer> 
  <% end %>
  </div>
    