<!DOCTYPE html>
<html>
<head>
  <title>Taskit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "custom" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="apple-touch-icon" sizes="57x57" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-57x57-c60962ba898dd1a0cbd4b40aacfccf89.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-114x114-a894aec1c37d6946a07d6c474be7aa93.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-72x72-8c3c187ba37029090b6a6883bccb9bbf.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-144x144-d2bd161acadcdc45d64a60de80cd05c4.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-60x60-765484b22cc5293941968159386807ea.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-120x120-a96eff43da6bd9f32f3753f611b945bc.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-76x76-7ce243f1acd3e6aa510b2c18eb89a130.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://d1cp24fad7kk9j.cloudfront.net/assets/favicons/apple-touch-icon-152x152-fb002ec44edfc160b07c5d8c10d11b01.png">
</head>
<body style="background-color:#2F4050" >

<%= yield %>

</body>
</html>
